# Secretos
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Fotos de ropa subidas
uploads/

# Modelos de IA descargados
*.pt
*.bin
*.safetensors

# Base de datos local (SQLite)
*.db
*.sqlite3

# Sistema operativo
.DS_Store
Thumbs.db

# Ruta del interpretador de Python
.vscode/